<!DOCTYPE html>
<html lang="en">
	<%- include('./include/head') %>
	<body>
		<%- include('./include/nav') %>
		<div class="container" style="margin-top: 2rem;">
			<div class="row">
                <h3>Промо-коды:</h3>
            </div>
            <hr>
			<table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Акция</th>
                        <th scope="col">КОД</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < codes.length; i++) {%>
                        <tr>
                            <th scope="col"><%= i + 1 %></th>
                            <td><%= codes[i].name %></td>
                            <td><%= codes[i].desc %></td>
                            <td><%= codes[i].price %></td>
                            <td><%= codes[i].code %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
		</div>

		<%- include('./include/scripts') %> <%- include('./include/footer') %>
	</body>
</html>
